.content {
    background-color: #e7effd;
}

#myTable {
    max-width: 100%;
}

#myTable thead tr th {
    text-align: left;
}

#myTable tbody tr td {
    background-color: white;
    font-size: 14px;
    text-align: left;
    padding: 0 0 0 10px;
}

#myTable tbody tr td h5 {
    font-size: 15px;
    margin-top: 28px;
}

#myTable tbody tr td .btn {
    margin-top: 21px;
    padding: 5px 15px;
}

.profil {
    display: flex;
    align-items: center;
}

.profil .avatar {
    border-radius: 28%;
    min-width: 50px;
    width: 100%;
    height: auto;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

#myTable tbody tr .profil .user h5 {
    font-size: 18px;
}

.user p {
    font-size: 14px;
    margin-top: -8px;
}


