.content {
    background-color: #e7effd;
}

.container-fluid .icons i {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 600;
    color: #0a3a8f;
}

#myTable {
    max-width: 100%;
}

#myTable thead tr th {
    text-align: left;
    font-size: 18px;
}

#myTable tbody tr td {
    text-align: left;
    vertical-align: middle;
    padding: 10px 20px 10px 10px;
}

#myTable tbody tr td h5 {
    font-size: 16px;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

#myTable tbody tr td a button {
    display: flex;
    align-items: center;
    background-color: #0d49b3;
    border-radius: 10px;
    padding: 2px 20px;
}

#myTable tbody tr td a button:hover {
    background-color: transparent;
    color: #000;
    border-color: #000;
}

.form-control,
.form-select {
    border-color: #000;
    border-radius: 10px;
}
