.rev {
    position: relative;
    display: flex;
    width: 100%;
    min-height: auto;
}

.rev .revbox {
    position: relative;
    background: #e7effd;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.rev .revbox img {
    margin-right: 20px;
}

.rev .revbox h5 {
    font-size: 18px;
}

.rev .revbox h6 {
    font-size: 18px;
    margin-top: -5px;
}

.rev .revbox p {
    font-size: 15px;
}

.rev .revbox .star {
    margin: -3px 0px 5px 0px;
}

.rev .revbox .star span {
    margin-right: 3px;
}

.rev .revbox .star span.checked {
    color: orange;
}

.reply-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.reply-box .reply-input {
    flex: 1;
    padding: 12px 40px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    background: #b5cefa;
    resize: none;
    overflow: hidden;
    font-size: 15px;
}

.reply-box .reply-button {
    background: #0a3a8f;
    border: none;
    border-radius: 50%;
    padding: 13px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reply-box .reply-button i {
    color: #fff;
    font-size: 20px;
}

.reply-box .reply-button:hover {
    background: #0056b3;
}



@media (max-width: 768px) {
    .rev .revbox p{
        font-size: 12px;
    }

}
