.asess .asessbox {
    position: relative;
    background: #e7effd;
    width: 100%;
    min-height: 150px !important;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; /* Ensure flex-direction is column */
    justify-content: space-between; /* Ensure space between h1 and button */
    align-items: flex-start; /* Align items to the start */
}
